@charset "UTF-8";
body, header, footer, ul, li {
  margin: 0;
  padding: 0;
  line-height: 1;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}

body {
  font-size: 1.6rem;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 80% 1fr;
  background: #F6F6F6;
}
body > header.site-header {
  grid-row: 1;
  grid-column: 2;
  padding: 1.5rem 0 1rem;
}
body > main {
  grid-row: 2;
  grid-column: 2;
}
body > footer.site-footer {
  grid-row: 3;
  grid-column: 2;
  padding: 2rem 0;
}

section.preview {
  display: block;
  padding: 1rem 0;
}
section.preview textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
  font-size: 4rem;
  letter-spacing: 0.1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
}

section.keyboard {
  padding: 2rem 0;
}
section.keyboard ul.rows {
  display: grid;
  padding: 1.5rem;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 1rem;
  list-style: none;
  background: #DDD;
  border-radius: 1rem;
}
section.keyboard ul.rows li {
  display: block;
}
section.keyboard ul.rows li ul.keys {
  display: grid;
  grid-column-gap: 1rem;
  list-style: none;
}
section.keyboard ul.rows li ul.keys.row-1 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.55fr;
}
section.keyboard ul.rows li ul.keys.row-2 {
  grid-template-columns: 1.55fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
section.keyboard ul.rows li ul.keys.row-3 {
  grid-template-columns: 1.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.8fr;
}
section.keyboard ul.rows li ul.keys.row-4 {
  grid-template-columns: 2.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2.2fr;
}
section.keyboard ul.rows li ul.keys.row-5 {
  grid-template-columns: 1fr 1fr 1fr 1.2fr 5.8fr 1.2fr 1fr 1fr 1fr 1fr;
}
section.keyboard ul.rows li ul.keys li {
  position: relative;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 2rem;
  background: #333;
  color: #EEE;
  border-radius: 0.5rem;
  border: 2px solid #333;
}
section.keyboard ul.rows li ul.keys li.active {
  background: #EEE;
  color: #222;
}
section.keyboard ul.rows li ul.keys.row-1 li:last-child {
  padding: 3.5rem 1rem 0.5rem;
  font-size: 1.6rem;
  text-align: right;
}
section.keyboard ul.rows li ul.keys.row-2 li:first-child {
  padding: 3.5rem 1rem 0.5rem;
  font-size: 1.6rem;
  text-align: left;
}
section.keyboard ul.rows li ul.keys.row-3 li:first-child, section.keyboard ul.rows li ul.keys.row-3 li:last-child {
  padding: 3.5rem 1rem 0.5rem;
  font-size: 1.6rem;
}
section.keyboard ul.rows li ul.keys.row-3 li:first-child {
  text-align: left;
}
section.keyboard ul.rows li ul.keys.row-3 li:last-child {
  text-align: right;
}
section.keyboard ul.rows li ul.keys.row-3 li:nth-child(5)::before, section.keyboard ul.rows li ul.keys.row-3 li:nth-child(8)::before {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.8rem;
  margin: 0 auto;
  content: "_";
  color: #CCC;
}
section.keyboard ul.rows li ul.keys.row-4 li:first-child, section.keyboard ul.rows li ul.keys.row-4 li:last-child {
  padding: 3.5rem 1rem 0.5rem;
  font-size: 1.6rem;
}
section.keyboard ul.rows li ul.keys.row-4 li:first-child {
  text-align: left;
}
section.keyboard ul.rows li ul.keys.row-4 li:last-child {
  text-align: right;
}
section.keyboard ul.rows li ul.keys.row-5 li:nth-child(-n+7) {
  padding: 3.5rem 1rem 0.5rem;
  font-size: 1.6rem;
}
section.keyboard ul.rows li ul.keys.row-5 li:first-child {
  text-align: left;
}
